.postsPageContainer {
  max-width: 880px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1181px) {
    margin-left: 30px;
  }
}
.noPostsMessage {
  font-size: 30px;
  text-align: center;
  margin: 40px;
  color: black;
}
.sideBarBox {
  display: none;
  @media screen and (min-width: 1181px) {
    flex: 0 0 260px;
    display: block;
    min-height: 240px;
    height: 100%;
  }
}
