.formBody {
  max-width: 460px;
  background-color: hsl(0, 0%, 100%, 0.1);
  border-radius: 6px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 1px 2px 15px 1px hsl(0, 0%, 0%, 0.3);
  border: 1px solid rgb(30, 36, 80, 0.5);
}
.formTitle {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
}
.formLabel {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.formInput {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  height: 35px;
  padding-left: 20px;
  padding-right: 45px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  transition: border-bottom 250ms linear;
  color: rgb(30, 36, 80);
  &::placeholder {
    color: rgb(110, 116, 161);
  }
  &:focus {
    outline: none;
    border-bottom: 1px solid rgb(30, 36, 80);
  }
}
.formButton {
  cursor: pointer;

  color: rgb(92, 92, 100);
  width: 100%;
  height: 35px;
  margin-top: 40px;
  border-radius: 6px;
  border: none;
  background-color: white;

  transition: background-color 250ms linear, color 250ms linear;
  &:focus {
    outline: none;
    border: 1px solid rgb(30, 36, 80);
  }
  &:disabled {
    background-color: hsl(0, 0%, 100%, 0.5);
  }
  &:not(:disabled):hover {
    background-color: rgb(30, 36, 80);
    color: white;
  }
}

.errorMessage {
  text-align: center;
  color: rgb(255, 219, 219);
  margin-top: 20px;
}
//Avatar load Style
.formAvaLabel {
  cursor: pointer;
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.formAvaInput {
  visibility: hidden;
}
.formAvaImageBody {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 100%;
  margin: 0 auto;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.textError {
  color: rgb(255, 130, 130);
  font-weight: 600;
  text-align: center;
}
.showHideIcon {
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 0;
  transform: translateX(-50%);
  font-size: 25px;
  transition: color 250ms linear;
  &:hover {
    color: rgb(30, 36, 80);
  }
}
