.logoImg {
  display: none;
  @media screen and (min-width: 1181px) {
    display: block;
    margin-right: 30px;
    white-space: nowrap;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 130, 130);
    font-size: 37px;
    font-style: italic;
    border-bottom: 2px solid rgb(255, 130, 130);
    span {
      font-weight: 400;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      font-size: 19px;
      font-style: normal;
    }
  }
}
