.sideBarBox {
  flex: 0 0 260px;

  min-height: 240px;
  height: 100%;
}
.listBackButton {
  margin-top: 100px;
  font-size: 33px;
  height: 40px;
  width: 33px;

  color: rgb(255, 130, 130);
  transition: color 250ms linear, padding-left 250ms linear;
  padding-left: 20px;
  &:hover {
    color: gray;
    padding-left: 0px;
  }
}
